## Import Statements

In [1]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [2]:
!pip3 install sklearn-deap
!pip3 install sklearn-genetic-opt

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: sklearn-deap in /usr/local/lib/python3.7/dist-packages (0.3.0)
Requirement already satisfied: scikit-learn>=0.24.0 in /usr/local/lib/python3.7/dist-packages (from sklearn-deap) (1.0.2)
Requirement already satisfied: scipy>=0.16.0 in /usr/local/lib/python3.7/dist-packages (from sklearn-deap) (1.7.3)
Requirement already satisfied: deap>=1.0.2 in /usr/local/lib/python3.7/dist-packages (from sklearn-deap) (1.3.3)
Requirement already satisfied: numpy>=1.9.3 in /usr/local/lib/python3.7/dist-packages (from sklearn-deap) (1.21.6)
Requirement already satisfied: joblib>=0.11 in /usr/local/lib/python3.7/dist-packages (from scikit-learn>=0.24.0->sklearn-deap) (1.2.0)
Requirement already satisfied: threadpoolctl>=2.0.0 in /usr/local/lib/python3.7/dist-packages (from scikit-learn>=0.24.0->sklearn-deap) (3.1.0)
Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: sklearn-genetic-opt in /usr/local/lib/python3.7/dist-packages (0.9.0)
Requirement already satisfied: numpy>=1.14.5 in /usr/local/lib/python3.7/dist-packages (from sklearn-genetic-opt) (1.21.6)
Requirement already satisfied: tqdm>=4.61.1 in /usr/local/lib/python3.7/dist-packages (from sklearn-genetic-opt) (4.64.1)
Requirement already satisfied: deap>=1.3.1 in /usr/local/lib/python3.7/dist-packages (from sklearn-genetic-opt) (1.3.3)
Requirement already satisfied: scikit-learn>=0.21.3 in /usr/local/lib/python3.7/dist-packages (from sklearn-genetic-opt) (1.0.2)
Requirement already satisfied: scipy>=1.1.0 in /usr/local/lib/python3.7/dist-packages (from scikit-learn>=0.21.3->sklearn-genetic-opt) (1.7.3)
Requirement already satisfied: threadpoolctl>=2.0.0 in /usr/local/lib/python3.7/dist-packages (from scikit-learn>=0.21.3->sklearn-genetic-opt) (3.1.0)
Requirement already satisfied: joblib>=0.11 in /usr/local/lib/python3.7/dist-packages (from scikit-learn>=0.21.3->sklearn-genetic-opt) (1.2.0)

In [3]:
import warnings
warnings.filterwarnings('ignore')

In [4]:
import operator
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from collections import OrderedDict
from sklearn.feature_selection import SelectKBest, f_classif, SelectFromModel
from sklearn.ensemble import RandomForestClassifier
from sklearn.tree import DecisionTreeClassifier
from sklearn_genetic import GASearchCV
from sklearn_genetic import ExponentialAdapter
from sklearn_genetic.space import Continuous, Categorical, Integer
from sklearn.model_selection import StratifiedKFold
from sklearn.model_selection import train_test_split, StratifiedKFold
from sklearn.metrics import accuracy_score

## Loading Datasets

In [5]:
df_train = pd.read_csv('/content/drive/MyDrive/SCS_TRAIN.csv')
df_test = pd.read_csv('/content/drive/MyDrive/SCS_TEST.csv')

In [6]:
print(df_train.shape)
print(df_test.shape)

(76020, 371)
(75818, 370)

In [7]:
df_train[['TARGET']]

       TARGET
0           0
1           0
2           0
3           0
4           0
...       ...
76015       0
76016       0
76017       0
76018       0
76019       0

[76020 rows x 1 columns]

## declaring y_train

In [8]:
y_train = df_train[['TARGET']].copy()
df_train.drop('TARGET',axis=1,inplace=True)

In [9]:
y_train

       TARGET
0           0
1           0
2           0
3           0
4           0
...       ...
76015       0
76016       0
76017       0
76018       0
76019       0

[76020 rows x 1 columns]

## Feature Selection and Hyperparameter tuning using smaller data points - 6000 Data points

In [184]:
# Data points size=6000
train6k = df_train[:6000]

In [143]:
ytrain6k = y_train[:6000]

In [155]:
mainFeatures = list(df_train.columns.values)

In [138]:
rfc = RandomForestClassifier()
params = {'min_weight_fraction_leaf': Continuous(0.01, 0.5, distribution='log-uniform'),
          'bootstrap': Categorical([True, False]),
          'max_depth': Integer(2, 30),
          'max_leaf_nodes': Integer(2, 35),
          'n_estimators': Integer(100, 300)}

In [139]:
mutation_adapter = ExponentialAdapter(initial_value=0.8, end_value=0.2, adaptive_rate=0.1)
crossover_adapter = ExponentialAdapter(initial_value=0.2, end_value=0.8, adaptive_rate=0.1)

In [140]:
cv = StratifiedKFold(n_splits=3, shuffle=True)

In [141]:
evolved_estimator = GASearchCV(estimator=rfc,
                               cv=cv,
                               scoring='accuracy',
                               population_size=20,
                               generations=2,
                               mutation_probability=mutation_adapter,
                               crossover_probability=crossover_adapter,
                               param_grid=params,
                               n_jobs=-1)

In [145]:
evolved_estimator.fit(train6k, ytrain6k)

gen	nevals	fitness 	fitness_std	fitness_max	fitness_min
0  	20    	0.959167	2.22045e-16	0.959167   	0.959167
1  	40    	0.959167	2.22045e-16	0.959167   	0.959167
2  	40    	0.959167	2.22045e-16	0.959167   	0.959167

GASearchCV(crossover_probability=<sklearn_genetic.schedules.schedulers.ExponentialAdapter object at 0x7f3ffc70ae50>,
           cv=StratifiedKFold(n_splits=3, random_state=None, shuffle=True),
           estimator=RandomForestClassifier(bootstrap=False, max_depth=12,
                                            max_leaf_nodes=13,
                                            min_weight_fraction_leaf=0.055915906832559294,
                                            n_estimators=245),
           generations=2,
           mutation_probabil...
                       'max_depth': <sklearn_genetic.space.space.Integer object at 0x7f3ffc70aa90>,
                       'max_leaf_nodes': <sklearn_genetic.space.space.Integer object at 0x7f3ffc70a910>,
                       'min_weight_fraction_leaf': <sklearn_genetic.space.space.Continuous object at 0x7f3ffc73e7d0>,
                       'n_estimators': <sklearn_genetic.space.space.Integer object at 0x7f3ffc70ac50>},
           population_size=20, return_train_score=True, scoring='accuracy')

In [149]:
bestparams6k = evolved_estimator.best_params_
bestparams6k

{'min_weight_fraction_leaf': 0.055915906832559294,
 'bootstrap': False,
 'max_depth': 12,
 'max_leaf_nodes': 13,
 'n_estimators': 245}

In [150]:
rfc = RandomForestClassifier(**bestparams6k)

In [151]:
rfc.fit(train6k, ytrain6k)

RandomForestClassifier(bootstrap=False, max_depth=12, max_leaf_nodes=13,
                       min_weight_fraction_leaf=0.055915906832559294,
                       n_estimators=245)

In [156]:
featureimp6k = rfc.feature_importances_
RFfeatureImpValue6k = dict(zip(mainFeatures,rfc.feature_importances_))
RFfeatureImpValue6k = OrderedDict(sorted(RFfeatureImpValue6k.items(),key=operator.itemgetter(1),reverse=True))
rfcFullFeatureImportance6k = list(RFfeatureImpValue6k.keys())

In [181]:
rfcFullFeatureImportance6k = rfcFullFeatureImportance6k[:15]

## Feature Selection and Hyperparameter tuning using smaller data points - 12000 Data points

In [185]:
# Data points size=12000
train12k = df_train[:12000]

In [159]:
ytrain12k = y_train[:12000]

In [160]:
evolved_estimator.fit(train12k, ytrain12k)

gen	nevals	fitness 	fitness_std	fitness_max	fitness_min
0  	20    	0.960833	1.11022e-16	0.960833   	0.960833
1  	40    	0.960833	1.11022e-16	0.960833   	0.960833
2  	40    	0.960833	1.11022e-16	0.960833   	0.960833

GASearchCV(crossover_probability=<sklearn_genetic.schedules.schedulers.ExponentialAdapter object at 0x7f3ffc70ae50>,
           cv=StratifiedKFold(n_splits=3, random_state=None, shuffle=True),
           estimator=RandomForestClassifier(bootstrap=False, max_depth=26,
                                            max_leaf_nodes=10,
                                            min_weight_fraction_leaf=0.18081166385002856,
                                            n_estimators=298),
           generations=2,
           mutation_probabili...
                       'max_depth': <sklearn_genetic.space.space.Integer object at 0x7f3ffc70aa90>,
                       'max_leaf_nodes': <sklearn_genetic.space.space.Integer object at 0x7f3ffc70a910>,
                       'min_weight_fraction_leaf': <sklearn_genetic.space.space.Continuous object at 0x7f3ffc73e7d0>,
                       'n_estimators': <sklearn_genetic.space.space.Integer object at 0x7f3ffc70ac50>},
           population_size=20, return_train_score=True, scoring='accuracy')

In [162]:
bestparams12k = evolved_estimator.best_params_
bestparams12k

{'min_weight_fraction_leaf': 0.18081166385002856,
 'bootstrap': False,
 'max_depth': 26,
 'max_leaf_nodes': 10,
 'n_estimators': 298}

In [163]:
rfc = RandomForestClassifier(**bestparams12k)

In [164]:
rfc.fit(train12k, ytrain12k)

RandomForestClassifier(bootstrap=False, max_depth=26, max_leaf_nodes=10,
                       min_weight_fraction_leaf=0.18081166385002856,
                       n_estimators=298)

In [165]:
featureimp12k = rfc.feature_importances_
RFfeatureImpValue12k = dict(zip(mainFeatures,rfc.feature_importances_))
RFfeatureImpValue12k = OrderedDict(sorted(RFfeatureImpValue12k.items(),key=operator.itemgetter(1),reverse=True))
rfcFullFeatureImportance12k = list(RFfeatureImpValue12k.keys())

In [180]:
rfcFullFeatureImportance12k = rfcFullFeatureImportance12k[:15]

## Feature Selection and Hyperparameter tuning using smaller data points - 18000 Data points

In [186]:
# Data points size=18000
train18k = df_train[:18000]

In [168]:
ytrain18k = y_train[:18000]

In [169]:
evolved_estimator.fit(train18k, ytrain18k)

gen	nevals	fitness 	fitness_std	fitness_max	fitness_min
0  	20    	0.959444	1.11022e-16	0.959444   	0.959444
1  	40    	0.959444	1.11022e-16	0.959444   	0.959444
2  	40    	0.959444	1.11022e-16	0.959444   	0.959444

GASearchCV(crossover_probability=<sklearn_genetic.schedules.schedulers.ExponentialAdapter object at 0x7f3ffc70ae50>,
           cv=StratifiedKFold(n_splits=3, random_state=None, shuffle=True),
           estimator=RandomForestClassifier(bootstrap=False, max_depth=10,
                                            max_leaf_nodes=20,
                                            min_weight_fraction_leaf=0.02070717958400921,
                                            n_estimators=197),
           generations=2,
           mutation_probabili...
                       'max_depth': <sklearn_genetic.space.space.Integer object at 0x7f3ffc70aa90>,
                       'max_leaf_nodes': <sklearn_genetic.space.space.Integer object at 0x7f3ffc70a910>,
                       'min_weight_fraction_leaf': <sklearn_genetic.space.space.Continuous object at 0x7f3ffc73e7d0>,
                       'n_estimators': <sklearn_genetic.space.space.Integer object at 0x7f3ffc70ac50>},
           population_size=20, return_train_score=True, scoring='accuracy')

In [170]:
bestparams18k = evolved_estimator.best_params_
bestparams18k

{'min_weight_fraction_leaf': 0.02070717958400921,
 'bootstrap': False,
 'max_depth': 10,
 'max_leaf_nodes': 20,
 'n_estimators': 197}

In [171]:
rfc = RandomForestClassifier(**bestparams18k)

In [172]:
rfc.fit(train18k, ytrain18k)

RandomForestClassifier(bootstrap=False, max_depth=10, max_leaf_nodes=20,
                       min_weight_fraction_leaf=0.02070717958400921,
                       n_estimators=197)

In [173]:
featureimp18k = rfc.feature_importances_
RFfeatureImpValue18k = dict(zip(mainFeatures,rfc.feature_importances_))
RFfeatureImpValue18k = OrderedDict(sorted(RFfeatureImpValue18k.items(),key=operator.itemgetter(1),reverse=True))
rfcFullFeatureImportance18k = list(RFfeatureImpValue18k.keys())

In [179]:
rfcFullFeatureImportance18k = rfcFullFeatureImportance18k[:25]

## Common Features between 6k, 12k and 18k data points

In [182]:
commonfinalk = list(set(rfcFullFeatureImportance6k) & set(rfcFullFeatureImportance12k) & set(rfcFullFeatureImportance18k))

In [183]:
commonfinalk

['saldo_var30',
 'num_var35',
 'var38',
 'saldo_var5',
 'saldo_var42',
 'var15',
 'saldo_medio_var5_ult3',
 'num_meses_var5_ult3',
 'ind_var30',
 'num_var4',
 'num_var5',
 'num_var30',
 'saldo_medio_var5_hace2']

## Train-Test Split

In [10]:
X_train, X_test, Y_train, Y_test = train_test_split(df_train, y_train, test_size=0.33, random_state=42)

In [11]:
originalFeatures = list(X_train.columns.values)
originalFeatures

['ID',
 'var3',
 'var15',
 'imp_ent_var16_ult1',
 'imp_op_var39_comer_ult1',
 'imp_op_var39_comer_ult3',
 'imp_op_var40_comer_ult1',
 'imp_op_var40_comer_ult3',
 'imp_op_var40_efect_ult1',
 'imp_op_var40_efect_ult3',
 'imp_op_var40_ult1',
 'imp_op_var41_comer_ult1',
 'imp_op_var41_comer_ult3',
 'imp_op_var41_efect_ult1',
 'imp_op_var41_efect_ult3',
 'imp_op_var41_ult1',
 'imp_op_var39_efect_ult1',
 'imp_op_var39_efect_ult3',
 'imp_op_var39_ult1',
 'imp_sal_var16_ult1',
 'ind_var1_0',
 'ind_var1',
 'ind_var2_0',
 'ind_var2',
 'ind_var5_0',
 'ind_var5',
 'ind_var6_0',
 'ind_var6',
 'ind_var8_0',
 'ind_var8',
 'ind_var12_0',
 'ind_var12',
 'ind_var13_0',
 'ind_var13_corto_0',
 'ind_var13_corto',
 'ind_var13_largo_0',
 'ind_var13_largo',
 'ind_var13_medio_0',
 'ind_var13_medio',
 'ind_var13',
 'ind_var14_0',
 'ind_var14',
 'ind_var17_0',
 'ind_var17',
 'ind_var18_0',
 'ind_var18',
 'ind_var19',
 'ind_var20_0',
 'ind_var20',
 'ind_var24_0',
 'ind_var24',
 'ind_var25_cte',
 'ind_var26_0',
 'ind_var26_cte',
 'ind_var26',
 'ind_var25_0',
 'ind_var25',
 'ind_var27_0',
 'ind_var28_0',
 'ind_var28',
 'ind_var27',
 'ind_var29_0',
 'ind_var29',
 'ind_var30_0',
 'ind_var30',
 'ind_var31_0',
 'ind_var31',
 'ind_var32_cte',
 'ind_var32_0',
 'ind_var32',
 'ind_var33_0',
 'ind_var33',
 'ind_var34_0',
 'ind_var34',
 'ind_var37_cte',
 'ind_var37_0',
 'ind_var37',
 'ind_var39_0',
 'ind_var40_0',
 'ind_var40',
 'ind_var41_0',
 'ind_var41',
 'ind_var39',
 'ind_var44_0',
 'ind_var44',
 'ind_var46_0',
 'ind_var46',
 'num_var1_0',
 'num_var1',
 'num_var4',
 'num_var5_0',
 'num_var5',
 'num_var6_0',
 'num_var6',
 'num_var8_0',
 'num_var8',
 'num_var12_0',
 'num_var12',
 'num_var13_0',
 'num_var13_corto_0',
 'num_var13_corto',
 'num_var13_largo_0',
 'num_var13_largo',
 'num_var13_medio_0',
 'num_var13_medio',
 'num_var13',
 'num_var14_0',
 'num_var14',
 'num_var17_0',
 'num_var17',
 'num_var18_0',
 'num_var18',
 'num_var20_0',
 'num_var20',
 'num_var24_0',
 'num_var24',
 'num_var26_0',
 'num_var26',
 'num_var25_0',
 'num_var25',
 'num_op_var40_hace2',
 'num_op_var40_hace3',
 'num_op_var40_ult1',
 'num_op_var40_ult3',
 'num_op_var41_hace2',
 'num_op_var41_hace3',
 'num_op_var41_ult1',
 'num_op_var41_ult3',
 'num_op_var39_hace2',
 'num_op_var39_hace3',
 'num_op_var39_ult1',
 'num_op_var39_ult3',
 'num_var27_0',
 'num_var28_0',
 'num_var28',
 'num_var27',
 'num_var29_0',
 'num_var29',
 'num_var30_0',
 'num_var30',
 'num_var31_0',
 'num_var31',
 'num_var32_0',
 'num_var32',
 'num_var33_0',
 'num_var33',
 'num_var34_0',
 'num_var34',
 'num_var35',
 'num_var37_med_ult2',
 'num_var37_0',
 'num_var37',
 'num_var39_0',
 'num_var40_0',
 'num_var40',
 'num_var41_0',
 'num_var41',
 'num_var39',
 'num_var42_0',
 'num_var42',
 'num_var44_0',
 'num_var44',
 'num_var46_0',
 'num_var46',
 'saldo_var1',
 'saldo_var5',
 'saldo_var6',
 'saldo_var8',
 'saldo_var12',
 'saldo_var13_corto',
 'saldo_var13_largo',
 'saldo_var13_medio',
 'saldo_var13',
 'saldo_var14',
 'saldo_var17',
 'saldo_var18',
 'saldo_var20',
 'saldo_var24',
 'saldo_var26',
 'saldo_var25',
 'saldo_var28',
 'saldo_var27',
 'saldo_var29',
 'saldo_var30',
 'saldo_var31',
 'saldo_var32',
 'saldo_var33',
 'saldo_var34',
 'saldo_var37',
 'saldo_var40',
 'saldo_var41',
 'saldo_var42',
 'saldo_var44',
 'saldo_var46',
 'var36',
 'delta_imp_amort_var18_1y3',
 'delta_imp_amort_var34_1y3',
 'delta_imp_aport_var13_1y3',
 'delta_imp_aport_var17_1y3',
 'delta_imp_aport_var33_1y3',
 'delta_imp_compra_var44_1y3',
 'delta_imp_reemb_var13_1y3',
 'delta_imp_reemb_var17_1y3',
 'delta_imp_reemb_var33_1y3',
 'delta_imp_trasp_var17_in_1y3',
 'delta_imp_trasp_var17_out_1y3',
 'delta_imp_trasp_var33_in_1y3',
 'delta_imp_trasp_var33_out_1y3',
 'delta_imp_venta_var44_1y3',
 'delta_num_aport_var13_1y3',
 'delta_num_aport_var17_1y3',
 'delta_num_aport_var33_1y3',
 'delta_num_compra_var44_1y3',
 'delta_num_reemb_var13_1y3',
 'delta_num_reemb_var17_1y3',
 'delta_num_reemb_var33_1y3',
 'delta_num_trasp_var17_in_1y3',
 'delta_num_trasp_var17_out_1y3',
 'delta_num_trasp_var33_in_1y3',
 'delta_num_trasp_var33_out_1y3',
 'delta_num_venta_var44_1y3',
 'imp_amort_var18_hace3',
 'imp_amort_var18_ult1',
 'imp_amort_var34_hace3',
 'imp_amort_var34_ult1',
 'imp_aport_var13_hace3',
 'imp_aport_var13_ult1',
 'imp_aport_var17_hace3',
 'imp_aport_var17_ult1',
 'imp_aport_var33_hace3',
 'imp_aport_var33_ult1',
 'imp_var7_emit_ult1',
 'imp_var7_recib_ult1',
 'imp_compra_var44_hace3',
 'imp_compra_var44_ult1',
 'imp_reemb_var13_hace3',
 'imp_reemb_var13_ult1',
 'imp_reemb_var17_hace3',
 'imp_reemb_var17_ult1',
 'imp_reemb_var33_hace3',
 'imp_reemb_var33_ult1',
 'imp_var43_emit_ult1',
 'imp_trans_var37_ult1',
 'imp_trasp_var17_in_hace3',
 'imp_trasp_var17_in_ult1',
 'imp_trasp_var17_out_hace3',
 'imp_trasp_var17_out_ult1',
 'imp_trasp_var33_in_hace3',
 'imp_trasp_var33_in_ult1',
 'imp_trasp_var33_out_hace3',
 'imp_trasp_var33_out_ult1',
 'imp_venta_var44_hace3',
 'imp_venta_var44_ult1',
 'ind_var7_emit_ult1',
 'ind_var7_recib_ult1',
 'ind_var10_ult1',
 'ind_var10cte_ult1',
 'ind_var9_cte_ult1',
 'ind_var9_ult1',
 'ind_var43_emit_ult1',
 'ind_var43_recib_ult1',
 'var21',
 'num_var2_0_ult1',
 'num_var2_ult1',
 'num_aport_var13_hace3',
 'num_aport_var13_ult1',
 'num_aport_var17_hace3',
 'num_aport_var17_ult1',
 'num_aport_var33_hace3',
 'num_aport_var33_ult1',
 'num_var7_emit_ult1',
 'num_var7_recib_ult1',
 'num_compra_var44_hace3',
 'num_compra_var44_ult1',
 'num_ent_var16_ult1',
 'num_var22_hace2',
 'num_var22_hace3',
 'num_var22_ult1',
 'num_var22_ult3',
 'num_med_var22_ult3',
 'num_med_var45_ult3',
 'num_meses_var5_ult3',
 'num_meses_var8_ult3',
 'num_meses_var12_ult3',
 'num_meses_var13_corto_ult3',
 'num_meses_var13_largo_ult3',
 'num_meses_var13_medio_ult3',
 'num_meses_var17_ult3',
 'num_meses_var29_ult3',
 'num_meses_var33_ult3',
 'num_meses_var39_vig_ult3',
 'num_meses_var44_ult3',
 'num_op_var39_comer_ult1',
 'num_op_var39_comer_ult3',
 'num_op_var40_comer_ult1',
 'num_op_var40_comer_ult3',
 'num_op_var40_efect_ult1',
 'num_op_var40_efect_ult3',
 'num_op_var41_comer_ult1',
 'num_op_var41_comer_ult3',
 'num_op_var41_efect_ult1',
 'num_op_var41_efect_ult3',
 'num_op_var39_efect_ult1',
 'num_op_var39_efect_ult3',
 'num_reemb_var13_hace3',
 'num_reemb_var13_ult1',
 'num_reemb_var17_hace3',
 'num_reemb_var17_ult1',
 'num_reemb_var33_hace3',
 'num_reemb_var33_ult1',
 'num_sal_var16_ult1',
 'num_var43_emit_ult1',
 'num_var43_recib_ult1',
 'num_trasp_var11_ult1',
 'num_trasp_var17_in_hace3',
 'num_trasp_var17_in_ult1',
 'num_trasp_var17_out_hace3',
 'num_trasp_var17_out_ult1',
 'num_trasp_var33_in_hace3',
 'num_trasp_var33_in_ult1',
 'num_trasp_var33_out_hace3',
 'num_trasp_var33_out_ult1',
 'num_venta_var44_hace3',
 'num_venta_var44_ult1',
 'num_var45_hace2',
 'num_var45_hace3',
 'num_var45_ult1',
 'num_var45_ult3',
 'saldo_var2_ult1',
 'saldo_medio_var5_hace2',
 'saldo_medio_var5_hace3',
 'saldo_medio_var5_ult1',
 'saldo_medio_var5_ult3',
 'saldo_medio_var8_hace2',
 'saldo_medio_var8_hace3',
 'saldo_medio_var8_ult1',
 'saldo_medio_var8_ult3',
 'saldo_medio_var12_hace2',
 'saldo_medio_var12_hace3',
 'saldo_medio_var12_ult1',
 'saldo_medio_var12_ult3',
 'saldo_medio_var13_corto_hace2',
 'saldo_medio_var13_corto_hace3',
 'saldo_medio_var13_corto_ult1',
 'saldo_medio_var13_corto_ult3',
 'saldo_medio_var13_largo_hace2',
 'saldo_medio_var13_largo_hace3',
 'saldo_medio_var13_largo_ult1',
 'saldo_medio_var13_largo_ult3',
 'saldo_medio_var13_medio_hace2',
 'saldo_medio_var13_medio_hace3',
 'saldo_medio_var13_medio_ult1',
 'saldo_medio_var13_medio_ult3',
 'saldo_medio_var17_hace2',
 'saldo_medio_var17_hace3',
 'saldo_medio_var17_ult1',
 'saldo_medio_var17_ult3',
 'saldo_medio_var29_hace2',
 'saldo_medio_var29_hace3',
 'saldo_medio_var29_ult1',
 'saldo_medio_var29_ult3',
 'saldo_medio_var33_hace2',
 'saldo_medio_var33_hace3',
 'saldo_medio_var33_ult1',
 'saldo_medio_var33_ult3',
 'saldo_medio_var44_hace2',
 'saldo_medio_var44_hace3',
 'saldo_medio_var44_ult1',
 'saldo_medio_var44_ult3',
 'var38']

## Random Forest feature selection with Genetic Algorithm

In [12]:
rfc = RandomForestClassifier()
params = {'min_weight_fraction_leaf': Continuous(0.01, 0.5, distribution='log-uniform'),
          'bootstrap': Categorical([True, False]),
          'max_depth': Integer(2, 30),
          'max_leaf_nodes': Integer(2, 35),
          'n_estimators': Integer(100, 300)}

In [13]:
mutation_adapter = ExponentialAdapter(initial_value=0.8, end_value=0.2, adaptive_rate=0.1)
crossover_adapter = ExponentialAdapter(initial_value=0.2, end_value=0.8, adaptive_rate=0.1)

In [14]:
cv = StratifiedKFold(n_splits=3, shuffle=True)

In [15]:
evolved_estimator = GASearchCV(estimator=rfc,
                               cv=cv,
                               scoring='accuracy',
                               population_size=20,
                               generations=2,
                               mutation_probability=mutation_adapter,
                               crossover_probability=crossover_adapter,
                               param_grid=params,
                               n_jobs=-1)

In [16]:
rfc.fit(X_train, Y_train)

RandomForestClassifier()

In [17]:
RFfeatureImpValue = dict(zip(originalFeatures,rfc.feature_importances_))
RFfeatureImpValue = OrderedDict(sorted(RFfeatureImpValue.items(),key=operator.itemgetter(1),reverse=True))
rfcFullFeatureImportance = list(RFfeatureImpValue.keys())

In [18]:
RFfeatureImpValue

OrderedDict([('ID', 0.2455405357084641),
             ('var38', 0.20480214987717144),
             ('var15', 0.15301987118247),
             ('saldo_medio_var5_ult3', 0.02311917736617181),
             ('saldo_medio_var5_hace3', 0.021932113574790663),
             ('num_var45_ult3', 0.0191689577469822),
             ('num_var45_hace3', 0.015306776681034867),
             ('saldo_var30', 0.014883008276719224),
             ('saldo_medio_var5_hace2', 0.01401041438520931),
             ('num_var22_ult3', 0.013647862505574912),
             ('saldo_var42', 0.013198439475944148),
             ('num_var45_hace2', 0.012888602513410143),
             ('saldo_medio_var5_ult1', 0.012273564793723222),
             ('saldo_var5', 0.010946468270784222),
             ('num_var45_ult1', 0.009739657900870089),
             ('num_var22_hace3', 0.009237403251693931),
             ('num_med_var45_ult3', 0.009235604168771134),
             ('num_var22_hace2', 0.009024087340504574),
             ('var36', 0.0075787797701181514),
             ('num_var22_ult1', 0.006962068807718285),
             ('num_meses_var39_vig_ult3', 0.006596163956875608),
             ('num_med_var22_ult3', 0.004735372515230448),
             ('num_meses_var5_ult3', 0.004617408962850269),
             ('imp_op_var41_ult1', 0.004217654264817494),
             ('num_var35', 0.00421078935273858),
             ('imp_op_var39_ult1', 0.004060866576271645),
             ('imp_op_var41_comer_ult3', 0.003972832498979225),
             ('imp_op_var41_efect_ult3', 0.003834920099362809),
             ('imp_op_var39_comer_ult3', 0.003746856266678414),
             ('imp_op_var39_efect_ult3', 0.0037189337455035315),
             ('num_var4', 0.0036987127672631127),
             ('imp_trans_var37_ult1', 0.003262286003379783),
             ('num_op_var41_ult3', 0.0032491372726588326),
             ('imp_op_var41_comer_ult1', 0.0032327455269166366),
             ('var3', 0.003177965012718956),
             ('imp_op_var39_comer_ult1', 0.0031324567018627364),
             ('num_var30', 0.0030807422263162813),
             ('num_op_var39_ult3', 0.002961567848013996),
             ('saldo_var37', 0.002910470636494746),
             ('imp_ent_var16_ult1', 0.0028686394009514978),
             ('imp_op_var41_efect_ult1', 0.0028521616806655966),
             ('imp_op_var39_efect_ult1', 0.0027483756515429693),
             ('num_op_var39_comer_ult3', 0.002584702993943951),
             ('num_op_var41_comer_ult3', 0.0025515532292062506),
             ('num_op_var39_hace2', 0.002539661831435374),
             ('num_op_var39_ult1', 0.0025140674933033565),
             ('num_op_var41_ult1', 0.0024116659999950194),
             ('num_op_var41_hace2', 0.0024076809909981583),
             ('imp_var43_emit_ult1', 0.0023344915642819018),
             ('num_op_var41_efect_ult3', 0.002312695604321697),
             ('num_op_var39_efect_ult3', 0.002288906626233453),
             ('num_op_var39_comer_ult1', 0.0022296016378848464),
             ('num_var43_recib_ult1', 0.0021869837595646017),
             ('num_op_var41_comer_ult1', 0.0021623901032201374),
             ('num_var41_0', 0.0020643637604166407),
             ('num_ent_var16_ult1', 0.0018893116720130143),
             ('saldo_var8', 0.0018531355250954915),
             ('num_var39_0', 0.0018516119239531431),
             ('num_var42', 0.0018310722455850254),
             ('ind_var30', 0.0018246720296828647),
             ('ind_var5', 0.0018139145273764687),
             ('saldo_medio_var8_ult3', 0.0016404725880291684),
             ('num_op_var41_efect_ult1', 0.0015646249766427393),
             ('num_op_var39_efect_ult1', 0.0015025509244717512),
             ('num_var43_emit_ult1', 0.001487610833831566),
             ('num_var37', 0.0014000377523191892),
             ('saldo_medio_var8_ult1', 0.0013748288279447636),
             ('num_var37_0', 0.0012873148133920869),
             ('num_var37_med_ult2', 0.001267335829620736),
             ('num_var5_0', 0.0012218632239347788),
             ('num_var5', 0.0012109691931251909),
             ('num_var30_0', 0.0012081289462414812),
             ('ind_var43_recib_ult1', 0.001158668424292994),
             ('ind_var41_0', 0.0011177593420674233),
             ('ind_var39_0', 0.0010966542291377685),
             ('saldo_medio_var8_hace2', 0.00103440171282945),
             ('num_var8_0', 0.0009585173304916656),
             ('num_var42_0', 0.0008942021814529094),
             ('ind_var8_0', 0.000875353781447267),
             ('ind_var43_emit_ult1', 0.0008655381720347462),
             ('saldo_var26', 0.0008506738104953579),
             ('saldo_var25', 0.0007593697904236169),
             ('num_op_var39_hace3', 0.0007060697962832102),
             ('ind_var37', 0.0006767601955403869),
             ('ind_var37_cte', 0.0006636623661611156),
             ('ind_var10cte_ult1', 0.0006326920354140524),
             ('saldo_medio_var12_ult1', 0.0006266298817656324),
             ('ind_var9_cte_ult1', 0.0006145252024289736),
             ('ind_var9_ult1', 0.0005921787193477664),
             ('ind_var37_0', 0.000580942792230698),
             ('ind_var5_0', 0.0005582005320069945),
             ('num_var12_0', 0.0005567771339664765),
             ('saldo_medio_var12_ult3', 0.000543312025199982),
             ('num_op_var41_hace3', 0.0005299729092462376),
             ('ind_var10_ult1', 0.0005236681407380142),
             ('num_trasp_var11_ult1', 0.0004998219795011472),
             ('num_var26', 0.0004696811049964704),
             ('num_meses_var8_ult3', 0.00044915712313319293),
             ('saldo_medio_var12_hace2', 0.00042215548244677113),
             ('ind_var12_0', 0.00041965947602700635),
             ('num_var25_0', 0.00040718609927061633),
             ('saldo_var24', 0.0003963502799225999),
             ('num_var25', 0.0003674980227338924),
             ('saldo_medio_var13_corto_ult3', 0.0003651291586684207),
             ('saldo_var12', 0.0003638253053140492),
             ('saldo_var13', 0.0003613823808213391),
             ('num_var26_0', 0.0003603640285319595),
             ('saldo_medio_var13_corto_hace2', 0.00033127741498516715),
             ('ind_var13_0', 0.0003276624477287394),
             ('ind_var26_cte', 0.00032347221735176825),
             ('num_var24_0', 0.0003064449308122496),
             ('saldo_medio_var13_corto_ult1', 0.000305437490325232),
             ('ind_var24_0', 0.0003005238558792905),
             ('imp_op_var40_efect_ult1', 0.0002985587086815759),
             ('num_var13_0', 0.00029353492385669836),
             ('saldo_medio_var8_hace3', 0.0002782088011454004),
             ('imp_op_var40_efect_ult3', 0.00027317467716542405),
             ('saldo_var13_corto', 0.0002684048202557261),
             ('ind_var25_cte', 0.00026581612815561957),
             ('ind_var8', 0.0002580545864278372),
             ('num_var40_0', 0.00025773231038622377),
             ('num_meses_var12_ult3', 0.00025468002624415374),
             ('ind_var14_0', 0.00025463949044100755),
             ('saldo_var40', 0.00025128951670801185),
             ('ind_var13', 0.00024601229110698784),
             ('ind_var25_0', 0.00023764097853759447),
             ('saldo_var1', 0.00023759622252423888),
             ('num_var1_0', 0.00022933305304379393),
             ('num_var7_recib_ult1', 0.00022854986178600073),
             ('imp_var7_recib_ult1', 0.00022708525192353105),
             ('ind_var30_0', 0.00021707888012259654),
             ('num_var8', 0.00021554965258968565),
             ('num_var14_0', 0.00020934493810873434),
             ('ind_var1_0', 0.00020106237969150264),
             ('num_op_var40_efect_ult1', 0.0001951739128982828),
             ('saldo_medio_var12_hace3', 0.00018824841694598034),
             ('ind_var12', 0.00018015566112094118),
             ('var21', 0.00017938714838163406),
             ('ind_var25', 0.00017873171110978413),
             ('ind_var7_recib_ult1', 0.00017448572458157046),
             ('ind_var40_0', 0.00017242220499600857),
             ('ind_var26', 0.00017147749282771775),
             ('num_sal_var16_ult1', 0.00016784919572947104),
             ('num_var12', 0.00016339587192058352),
             ('num_var13', 0.00015433838231847387),
             ('imp_op_var40_ult1', 0.0001404223042509354),
             ('ind_var13_corto_0', 0.00013863326312496267),
             ('num_op_var40_efect_ult3', 0.00013783488152605984),
             ('num_op_var40_ult1', 0.0001332319443309967),
             ('imp_aport_var13_ult1', 0.00013166715497708756),
             ('num_meses_var13_corto_ult3', 0.00012710813663126643),
             ('ind_var26_0', 0.00011471988817934281),
             ('imp_sal_var16_ult1', 0.00011145393612704932),
             ('num_var24', 0.0001091641380582202),
             ('ind_var24', 0.00010804143486048394),
             ('saldo_var14', 0.00010760452248554056),
             ('num_op_var40_comer_ult3', 0.00010436921849629444),
             ('ind_var32_cte', 0.00010034481310017813),
             ('num_op_var40_ult3', 9.830610350598517e-05),
             ('ind_var14', 9.528650685070412e-05),
             ('num_op_var40_hace2', 8.946695952154063e-05),
             ('num_var32_0', 8.825218210616883e-05),
             ('ind_var13_corto', 8.286711728454084e-05),
             ('num_var13_corto_0', 7.964038566179994e-05),
             ('delta_imp_aport_var13_1y3', 7.634366722751182e-05),
             ('num_var32', 7.627888733858345e-05),
             ('num_var14', 7.375927029985532e-05),
             ('num_var13_corto', 7.21079225740285e-05),
             ('num_var31_0', 6.928301107082254e-05),
             ('ind_var1', 6.796791084440554e-05),
             ('imp_op_var40_comer_ult3', 6.551442413406394e-05),
             ('num_aport_var17_ult1', 6.448994175258187e-05),
             ('imp_reemb_var17_ult1', 6.432895637479026e-05),
             ('num_reemb_var17_ult1', 6.320970527946075e-05),
             ('saldo_var32', 6.306085847196835e-05),
             ('ind_var32', 6.295324804606129e-05),
             ('ind_var13_largo_0', 6.080671901937629e-05),
             ('num_var17', 6.07521019624445e-05),
             ('ind_var39', 5.7389014007867175e-05),
             ('ind_var40', 5.6846797872098805e-05),
             ('delta_num_aport_var13_1y3', 5.006476930569899e-05),
             ('saldo_medio_var17_ult3', 4.9829118677247e-05),
             ('num_var17_0', 4.90991893210416e-05),
             ('ind_var19', 4.810667285743398e-05),
             ('num_op_var40_comer_ult1', 4.787863300643935e-05),
             ('imp_op_var40_comer_ult1', 4.458512204889378e-05),
             ('saldo_medio_var13_corto_hace3', 4.4494766579845376e-05),
             ('num_var13_largo_0', 4.4375902001013995e-05),
             ('ind_var31_0', 4.1296933381238116e-05),
             ('saldo_var13_largo', 3.777706490271845e-05),
             ('imp_aport_var13_hace3', 3.611099959590879e-05),
             ('num_aport_var13_hace3', 3.509904837664582e-05),
             ('num_var1', 3.456309197855945e-05),
             ('saldo_medio_var17_ult1', 3.411043237401356e-05),
             ('num_var13_largo', 3.36655982976022e-05),
             ('saldo_var31', 3.210889722702863e-05),
             ('ind_var31', 3.0431557923744816e-05),
             ('ind_var20_0', 2.939801435223127e-05),
             ('ind_var32_0', 2.796124241770202e-05),
             ('num_aport_var13_ult1', 2.6417420431605987e-05),
             ('num_var31', 2.589114532612516e-05),
             ('imp_compra_var44_ult1', 2.52048913126806e-05),
             ('num_var39', 2.2617699818930402e-05),
             ('imp_aport_var17_ult1', 2.2394954216186663e-05),
             ('delta_num_reemb_var17_1y3', 2.159909036445396e-05),
             ('num_var40', 2.038991618832399e-05),
             ('num_meses_var17_ult3', 2.0309644526367554e-05),
             ('delta_imp_reemb_var17_1y3', 1.9825865504924522e-05),
             ('ind_var17_0', 1.9611260188094386e-05),
             ('num_var44', 1.9290486225945645e-05),
             ('ind_var44', 1.8572394491507333e-05),
             ('num_var20_0', 1.7411264681043162e-05),
             ('saldo_medio_var44_ult3', 1.7346403188369843e-05),
             ('ind_var13_largo', 1.6982116984175688e-05),
             ('saldo_var44', 1.3667605331209582e-05),
             ('delta_imp_aport_var17_1y3', 1.3037330088721728e-05),
             ('num_compra_var44_ult1', 1.2231111878391925e-05),
             ('delta_imp_compra_var44_1y3', 1.2139913699032462e-05),
             ('saldo_medio_var13_largo_ult1', 1.1815616967956566e-05),
             ('saldo_var17', 1.15707076350617e-05),
             ('ind_var17', 1.0997987535655445e-05),
             ('saldo_medio_var13_largo_ult3', 1.0817500558877278e-05),
             ('num_meses_var13_largo_ult3', 1.0711305090523823e-05),
             ('delta_num_compra_var44_1y3', 1.0505752567716822e-05),
             ('ind_var20', 9.387846721400922e-06),
             ('num_var44_0', 8.63814316200225e-06),
             ('ind_var44_0', 8.54455256004153e-06),
             ('imp_aport_var33_ult1', 8.042106302056793e-06),
             ('ind_var33_0', 7.86336004982924e-06),
             ('imp_aport_var17_hace3', 6.8476755801913715e-06),
             ('num_meses_var44_ult3', 6.342673820583567e-06),
             ('imp_venta_var44_ult1', 6.255211842966756e-06),
             ('saldo_medio_var17_hace2', 6.117840529694318e-06),
             ('saldo_medio_var13_largo_hace2', 5.989421178196376e-06),
             ('num_var33_0', 5.848682794410818e-06),
             ('num_var33', 4.379515434259489e-06),
             ('saldo_medio_var33_hace2', 4.0814025082836965e-06),
             ('saldo_medio_var13_largo_hace3', 3.2722321679088766e-06),
             ('num_var20', 2.96700384383422e-06),
             ('delta_imp_aport_var33_1y3', 2.960407256102016e-06),
             ('ind_var29_0', 2.707708950996561e-06),
             ('delta_num_venta_var44_1y3', 2.380421357216171e-06),
             ('num_meses_var33_ult3', 2.169677503619185e-06),
             ('num_reemb_var13_ult1', 1.878849647781573e-06),
             ('saldo_medio_var44_ult1', 1.7178509148506855e-06),
             ('delta_num_trasp_var17_out_1y3', 1.2979782802640211e-06),
             ('saldo_var20', 1.2877011009823585e-06),
             ('delta_num_aport_var17_1y3', 1.1127477190064935e-06),
             ('saldo_medio_var44_hace2', 1.064758518567735e-06),
             ('delta_num_aport_var33_1y3', 9.37777858146937e-07),
             ('imp_compra_var44_hace3', 9.13293514206719e-07),
             ('saldo_medio_var33_hace3', 8.483674166016412e-07),
             ('num_compra_var44_hace3', 5.750911818272496e-07),
             ('saldo_medio_var33_ult1', 5.679856084324536e-07),
             ('num_trasp_var33_in_ult1', 5.641060314576179e-07),
             ('imp_reemb_var13_ult1', 5.290235263728718e-07),
             ('imp_aport_var33_hace3', 5.16930382870704e-07),
             ('ind_var33', 4.834921081698476e-07),
             ('saldo_medio_var17_hace3', 4.357870781965597e-07),
             ('delta_num_trasp_var33_in_1y3', 4.1303363507188863e-07),
             ('saldo_var33', 2.2755885654735792e-07),
             ('num_aport_var17_hace3', 1.7216330392456962e-07),
             ('saldo_medio_var44_hace3', 1.2946495383184008e-07),
             ('delta_imp_venta_var44_1y3', 1.1007465819379811e-07),
             ('num_aport_var33_hace3', 8.987345399469874e-08),
             ('num_op_var40_hace3', 6.875770793323644e-08),
             ('imp_trasp_var17_out_ult1', 1.3414059204204912e-08),
             ('num_venta_var44_ult1', 1.0905880856728475e-08),
             ('num_var7_emit_ult1', 6.440203126054184e-09),
             ('imp_trasp_var33_in_ult1', 6.412364319439457e-09),
             ('imp_venta_var44_hace3', 2.505765978423139e-09),
             ('num_venta_var44_hace3', 1.4844538675589806e-09),
             ('ind_var2_0', 0.0),
             ('ind_var2', 0.0),
             ('ind_var6_0', 0.0),
             ('ind_var6', 0.0),
             ('ind_var13_medio_0', 0.0),
             ('ind_var13_medio', 0.0),
             ('ind_var18_0', 0.0),
             ('ind_var18', 0.0),
             ('ind_var27_0', 0.0),
             ('ind_var28_0', 0.0),
             ('ind_var28', 0.0),
             ('ind_var27', 0.0),
             ('ind_var29', 0.0),
             ('ind_var34_0', 0.0),
             ('ind_var34', 0.0),
             ('ind_var41', 0.0),
             ('ind_var46_0', 0.0),
             ('ind_var46', 0.0),
             ('num_var6_0', 0.0),
             ('num_var6', 0.0),
             ('num_var13_medio_0', 0.0),
             ('num_var13_medio', 0.0),
             ('num_var18_0', 0.0),
             ('num_var18', 0.0),
             ('num_var27_0', 0.0),
             ('num_var28_0', 0.0),
             ('num_var28', 0.0),
             ('num_var27', 0.0),
             ('num_var29_0', 0.0),
             ('num_var29', 0.0),
             ('num_var34_0', 0.0),
             ('num_var34', 0.0),
             ('num_var41', 0.0),
             ('num_var46_0', 0.0),
             ('num_var46', 0.0),
             ('saldo_var6', 0.0),
             ('saldo_var13_medio', 0.0),
             ('saldo_var18', 0.0),
             ('saldo_var28', 0.0),
             ('saldo_var27', 0.0),
             ('saldo_var29', 0.0),
             ('saldo_var34', 0.0),
             ('saldo_var41', 0.0),
             ('saldo_var46', 0.0),
             ('delta_imp_amort_var18_1y3', 0.0),
             ('delta_imp_amort_var34_1y3', 0.0),
             ('delta_imp_reemb_var13_1y3', 0.0),
             ('delta_imp_reemb_var33_1y3', 0.0),
             ('delta_imp_trasp_var17_in_1y3', 0.0),
             ('delta_imp_trasp_var17_out_1y3', 0.0),
             ('delta_imp_trasp_var33_in_1y3', 0.0),
             ('delta_imp_trasp_var33_out_1y3', 0.0),
             ('delta_num_reemb_var13_1y3', 0.0),
             ('delta_num_reemb_var33_1y3', 0.0),
             ('delta_num_trasp_var17_in_1y3', 0.0),
             ('delta_num_trasp_var33_out_1y3', 0.0),
             ('imp_amort_var18_hace3', 0.0),
             ('imp_amort_var18_ult1', 0.0),
             ('imp_amort_var34_hace3', 0.0),
             ('imp_amort_var34_ult1', 0.0),
             ('imp_var7_emit_ult1', 0.0),
             ('imp_reemb_var13_hace3', 0.0),
             ('imp_reemb_var17_hace3', 0.0),
             ('imp_reemb_var33_hace3', 0.0),
             ('imp_reemb_var33_ult1', 0.0),
             ('imp_trasp_var17_in_hace3', 0.0),
             ('imp_trasp_var17_in_ult1', 0.0),
             ('imp_trasp_var17_out_hace3', 0.0),
             ('imp_trasp_var33_in_hace3', 0.0),
             ('imp_trasp_var33_out_hace3', 0.0),
             ('imp_trasp_var33_out_ult1', 0.0),
             ('ind_var7_emit_ult1', 0.0),
             ('num_var2_0_ult1', 0.0),
             ('num_var2_ult1', 0.0),
             ('num_aport_var33_ult1', 0.0),
             ('num_meses_var13_medio_ult3', 0.0),
             ('num_meses_var29_ult3', 0.0),
             ('num_reemb_var13_hace3', 0.0),
             ('num_reemb_var17_hace3', 0.0),
             ('num_reemb_var33_hace3', 0.0),
             ('num_reemb_var33_ult1', 0.0),
             ('num_trasp_var17_in_hace3', 0.0),
             ('num_trasp_var17_in_ult1', 0.0),
             ('num_trasp_var17_out_hace3', 0.0),
             ('num_trasp_var17_out_ult1', 0.0),
             ('num_trasp_var33_in_hace3', 0.0),
             ('num_trasp_var33_out_hace3', 0.0),
             ('num_trasp_var33_out_ult1', 0.0),
             ('saldo_var2_ult1', 0.0),
             ('saldo_medio_var13_medio_hace2', 0.0),
             ('saldo_medio_var13_medio_hace3', 0.0),
             ('saldo_medio_var13_medio_ult1', 0.0),
             ('saldo_medio_var13_medio_ult3', 0.0),
             ('saldo_medio_var29_hace2', 0.0),
             ('saldo_medio_var29_hace3', 0.0),
             ('saldo_medio_var29_ult1', 0.0),
             ('saldo_medio_var29_ult3', 0.0),
             ('saldo_medio_var33_ult3', 0.0)])

In [19]:
# Top 25 Features
rfcFeatureImportance25 = rfcFullFeatureImportance[:25]
print(rfcFeatureImportance25)

['ID', 'var38', 'var15', 'saldo_medio_var5_ult3', 'saldo_medio_var5_hace3', 'num_var45_ult3', 'num_var45_hace3', 'saldo_var30', 'saldo_medio_var5_hace2', 'num_var22_ult3', 'saldo_var42', 'num_var45_hace2', 'saldo_medio_var5_ult1', 'saldo_var5', 'num_var45_ult1', 'num_var22_hace3', 'num_med_var45_ult3', 'num_var22_hace2', 'var36', 'num_var22_ult1', 'num_meses_var39_vig_ult3', 'num_med_var22_ult3', 'num_meses_var5_ult3', 'imp_op_var41_ult1', 'num_var35']

In [20]:
# Top 50 Features
rfcFeatureImportance50 = rfcFullFeatureImportance[:50]
print(rfcFeatureImportance50)

['ID', 'var38', 'var15', 'saldo_medio_var5_ult3', 'saldo_medio_var5_hace3', 'num_var45_ult3', 'num_var45_hace3', 'saldo_var30', 'saldo_medio_var5_hace2', 'num_var22_ult3', 'saldo_var42', 'num_var45_hace2', 'saldo_medio_var5_ult1', 'saldo_var5', 'num_var45_ult1', 'num_var22_hace3', 'num_med_var45_ult3', 'num_var22_hace2', 'var36', 'num_var22_ult1', 'num_meses_var39_vig_ult3', 'num_med_var22_ult3', 'num_meses_var5_ult3', 'imp_op_var41_ult1', 'num_var35', 'imp_op_var39_ult1', 'imp_op_var41_comer_ult3', 'imp_op_var41_efect_ult3', 'imp_op_var39_comer_ult3', 'imp_op_var39_efect_ult3', 'num_var4', 'imp_trans_var37_ult1', 'num_op_var41_ult3', 'imp_op_var41_comer_ult1', 'var3', 'imp_op_var39_comer_ult1', 'num_var30', 'num_op_var39_ult3', 'saldo_var37', 'imp_ent_var16_ult1', 'imp_op_var41_efect_ult1', 'imp_op_var39_efect_ult1', 'num_op_var39_comer_ult3', 'num_op_var41_comer_ult3', 'num_op_var39_hace2', 'num_op_var39_ult1', 'num_op_var41_ult1', 'num_op_var41_hace2', 'imp_var43_emit_ult1', 'num_op_var41_efect_ult3']

## Random Forest with top 25 Features

In [21]:
rfk25_train = pd.DataFrame()
for i in rfcFeatureImportance25:
  rfk25_train[i] = df_train[i]
rfk25_train

,ID,var38,var15,saldo_medio_var5_ult3,saldo_medio_var5_hace3,num_var45_ult3,num_var45_hace3,saldo_var30,saldo_medio_var5_hace2,num_var22_ult3,...,num_var22_hace3,num_med_var45_ult3,num_var22_hace2,var36,num_var22_ult1,num_meses_var39_vig_ult3,num_med_var22_ult3,num_meses_var5_ult3,imp_op_var41_ult1,num_var35
0,1,39205.170,23,0.00,0.00,0,0,0.00,0.00,0,...,0,0,0,99,0,2,0,0,0.0,0
1,3,49278.030,34,0.00,88.89,0,0,300.00,0.00,0,...,0,0,0,3,0,2,0,1,0.0,3
2,4,67333.770,23,2.07,0.18,0,0,3.00,3.00,0,...,0,0,0,99,0,1,0,3,0.0,3
3,8,64007.970,37,138.84,0.00,48,3,70.62,186.09,3,...,0,15,3,2,0,1,0,2,195.0,9
4,10,117310.979,39,13501.47,0.30,0,0,135003.00,3.00,9,...,0,0,3,1,6,2,3,3,0.0,3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
76015,151829,60926.490,48,0.00,0.00,0,0,0.00,0.00,0,...,0,0,0,99,0,2,0,0,0.0,0
76016,151830,118634.520,39,0.00,0.00,48,3,48191.22,130.65,24,...,0,15,24,2,0,2,6,1,0.0,3
76017,151835,74028.150,23,3.00,0.00,0,0,3.00,3.00,0,...,0,0,0,99,0,1,0,2,0.0,3
76018,151836,84278.160,25,2.58,1.74,0,0,3.00,3.00,0,...,0,0,0,99,0,2,0,3,0.0,3
76019,151838,117310.979,46,0.00,0.00,0,0,0.00,0.00,0,...,0,0,0,99,0,2,0,0,0.0,0

In [22]:
RF25_X_train, RF25_X_test, RF25_Y_train, RF25_Y_test = train_test_split(rfk25_train, y_train, test_size=0.33, random_state=42)

In [23]:
evolved_estimator.fit(RF25_X_train, RF25_Y_train)
print('Best Parameters:',evolved_estimator.best_params_)

gen	nevals	fitness 	fitness_std	fitness_max	fitness_min
0  	20    	0.960399	0          	0.960399   	0.960399
1  	40    	0.960399	0          	0.960399   	0.960399
2  	40    	0.960399	0          	0.960399   	0.960399
Best Parameters: {'min_weight_fraction_leaf': 0.040629958355022186, 'bootstrap': True, 'max_depth': 17, 'max_leaf_nodes': 21, 'n_estimators': 300}

In [24]:
print("Stats achieved in each generation: ", evolved_estimator.history)
print("Best k solutions: ", evolved_estimator.hof)

Stats achieved in each generation:  {'gen': [0, 1, 2], 'fitness': [0.9603989558455023, 0.9603989558455023, 0.9603989558455023], 'fitness_std': [0.0, 0.0, 0.0], 'fitness_max': [0.9603989558455023, 0.9603989558455023, 0.9603989558455023], 'fitness_min': [0.9603989558455023, 0.9603989558455023, 0.9603989558455023]}
Best k solutions:  {0: {'min_weight_fraction_leaf': 0.040629958355022186, 'bootstrap': True, 'max_depth': 17, 'max_leaf_nodes': 21, 'n_estimators': 300}}

In [25]:
rfk25_bestParams = evolved_estimator.best_params_
rfk25_bestParams

{'min_weight_fraction_leaf': 0.040629958355022186,
 'bootstrap': True,
 'max_depth': 17,
 'max_leaf_nodes': 21,
 'n_estimators': 300}

In [26]:
rfk25 = RandomForestClassifier(**rfk25_bestParams)

In [27]:
rfk25.fit(RF25_X_train, RF25_Y_train)

RandomForestClassifier(max_depth=17, max_leaf_nodes=21,
                       min_weight_fraction_leaf=0.040629958355022186,
                       n_estimators=300)

In [28]:
# Train Accuracy

RF25_X_Pred = rfk25.predict(RF25_X_train)
print(accuracy_score(RF25_Y_train, RF25_X_Pred))

0.9603989554905464

In [29]:
# Test Accuracy

RF25_Y_Pred = rfk25.predict(RF25_X_test)
print(accuracy_score(RF25_Y_test, RF25_Y_Pred))

0.9604974688085463

## Random Forest with top 50 Features

In [30]:
rfk50_train = pd.DataFrame()
for i in rfcFeatureImportance50:
  rfk50_train[i] = df_train[i]
rfk50_train

,ID,var38,var15,saldo_medio_var5_ult3,saldo_medio_var5_hace3,num_var45_ult3,num_var45_hace3,saldo_var30,saldo_medio_var5_hace2,num_var22_ult3,...,imp_op_var41_efect_ult1,imp_op_var39_efect_ult1,num_op_var39_comer_ult3,num_op_var41_comer_ult3,num_op_var39_hace2,num_op_var39_ult1,num_op_var41_ult1,num_op_var41_hace2,imp_var43_emit_ult1,num_op_var41_efect_ult3
0,1,39205.170,23,0.00,0.00,0,0,0.00,0.00,0,...,0.0,0.0,0,0,0,0,0,0,0.0,0
1,3,49278.030,34,0.00,88.89,0,0,300.00,0.00,0,...,0.0,0.0,0,0,0,0,0,0,0.0,0
2,4,67333.770,23,2.07,0.18,0,0,3.00,3.00,0,...,0.0,0.0,0,0,0,0,0,0,0.0,0
3,8,64007.970,37,138.84,0.00,48,3,70.62,186.09,3,...,0.0,0.0,9,9,0,9,9,0,0.0,0
4,10,117310.979,39,13501.47,0.30,0,0,135003.00,3.00,9,...,0.0,0.0,0,0,0,0,0,0,135003.0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
76015,151829,60926.490,48,0.00,0.00,0,0,0.00,0.00,0,...,0.0,0.0,0,0,0,0,0,0,0.0,0
76016,151830,118634.520,39,0.00,0.00,48,3,48191.22,130.65,24,...,0.0,0.0,0,0,0,0,0,0,0.0,0
76017,151835,74028.150,23,3.00,0.00,0,0,3.00,3.00,0,...,0.0,0.0,0,0,0,0,0,0,0.0,0
76018,151836,84278.160,25,2.58,1.74,0,0,3.00,3.00,0,...,0.0,0.0,0,0,0,0,0,0,0.0,0
76019,151838,117310.979,46,0.00,0.00,0,0,0.00,0.00,0,...,0.0,0.0,0,0,0,0,0,0,0.0,0

In [31]:
RF50_X_train, RF50_X_test, RF50_Y_train, RF50_Y_test = train_test_split(rfk50_train, y_train, test_size=0.33, random_state=42)

In [32]:
evolved_estimator.fit(RF50_X_train, RF50_Y_train)
print('Best Parameters:',evolved_estimator.best_params_)

gen	nevals	fitness 	fitness_std	fitness_max	fitness_min
0  	20    	0.960399	0          	0.960399   	0.960399
1  	40    	0.960399	0          	0.960399   	0.960399
2  	40    	0.960399	0          	0.960399   	0.960399
Best Parameters: {'min_weight_fraction_leaf': 0.17720174580896128, 'bootstrap': True, 'max_depth': 29, 'max_leaf_nodes': 30, 'n_estimators': 287}

In [33]:
print("Stats achieved in each generation: ", evolved_estimator.history)
print("Best k solutions: ", evolved_estimator.hof)

Stats achieved in each generation:  {'gen': [0, 1, 2], 'fitness': [0.9603989558455023, 0.9603989558455023, 0.9603989558455023], 'fitness_std': [0.0, 0.0, 0.0], 'fitness_max': [0.9603989558455023, 0.9603989558455023, 0.9603989558455023], 'fitness_min': [0.9603989558455023, 0.9603989558455023, 0.9603989558455023]}
Best k solutions:  {0: {'min_weight_fraction_leaf': 0.17720174580896128, 'bootstrap': True, 'max_depth': 29, 'max_leaf_nodes': 30, 'n_estimators': 287}}

In [34]:
rfk50_bestParams = evolved_estimator.best_params_
rfk50_bestParams

{'min_weight_fraction_leaf': 0.17720174580896128,
 'bootstrap': True,
 'max_depth': 29,
 'max_leaf_nodes': 30,
 'n_estimators': 287}

In [35]:
rfk50 = RandomForestClassifier(**rfk50_bestParams)

In [36]:
rfk50.fit(RF50_X_train, RF50_Y_train)

RandomForestClassifier(max_depth=29, max_leaf_nodes=30,
                       min_weight_fraction_leaf=0.17720174580896128,
                       n_estimators=287)

In [37]:
# Train Accuracy

RF50_X_Pred = rfk50.predict(RF50_X_train)
print(accuracy_score(RF50_Y_train, RF50_X_Pred))

0.9603989554905464

In [38]:
# Test Accuracy

RF50_Y_Pred = rfk50.predict(RF50_X_test)
print(accuracy_score(RF50_Y_test, RF50_Y_Pred))

0.9604974688085463

## Decision Tree feature selection with Genetic Algorithm

In [39]:
dtc = DecisionTreeClassifier()
params = {
    "criterion": Categorical(['gini','entropy']),
    "max_depth": Integer(1,10),
    "min_samples_split": Integer(1,10),
    "min_samples_leaf": Integer(1,5),
}

In [40]:
mutation_adapter = ExponentialAdapter(initial_value=0.8, end_value=0.2, adaptive_rate=0.1)
crossover_adapter = ExponentialAdapter(initial_value=0.2, end_value=0.8, adaptive_rate=0.1)

In [41]:
cv = StratifiedKFold(n_splits=3, shuffle=True)

In [42]:
evolved_estimator1 = GASearchCV(estimator=dtc,
                               cv=cv,
                               scoring='accuracy',
                               population_size=15,
                               generations=2,
                               mutation_probability=mutation_adapter,
                               crossover_probability=crossover_adapter,
                               param_grid=params,
                               n_jobs=-1)

In [43]:
dtc.fit(X_train, Y_train)

DecisionTreeClassifier()

In [44]:
DTfeatureImpValue = dict(zip(originalFeatures,dtc.feature_importances_))
DTfeatureImpValue = dict(sorted(DTfeatureImpValue.items(),key=operator.itemgetter(1),reverse=True))
dtcFullFeatureImportance = list(DTfeatureImpValue.keys())

In [45]:
# Top 25 Features
dtcFeatureImportance25 = dtcFullFeatureImportance[:25]
print(dtcFeatureImportance25)

['ID', 'var38', 'var15', 'saldo_var30', 'saldo_medio_var5_ult3', 'saldo_medio_var5_hace3', 'num_var45_ult3', 'saldo_medio_var5_hace2', 'num_var45_hace3', 'num_var45_hace2', 'num_var22_ult3', 'num_var22_hace3', 'num_var45_ult1', 'num_meses_var39_vig_ult3', 'num_var22_hace2', 'var36', 'saldo_var5', 'saldo_var42', 'saldo_medio_var5_ult1', 'num_med_var45_ult3', 'num_var41_0', 'var3', 'imp_op_var39_efect_ult1', 'num_var39_0', 'num_var22_ult1']

In [46]:
# Top 50 Features
dtcFeatureImportance50 = dtcFullFeatureImportance[:50]
print(dtcFeatureImportance50)

['ID', 'var38', 'var15', 'saldo_var30', 'saldo_medio_var5_ult3', 'saldo_medio_var5_hace3', 'num_var45_ult3', 'saldo_medio_var5_hace2', 'num_var45_hace3', 'num_var45_hace2', 'num_var22_ult3', 'num_var22_hace3', 'num_var45_ult1', 'num_meses_var39_vig_ult3', 'num_var22_hace2', 'var36', 'saldo_var5', 'saldo_var42', 'saldo_medio_var5_ult1', 'num_med_var45_ult3', 'num_var41_0', 'var3', 'imp_op_var39_efect_ult1', 'num_var39_0', 'num_var22_ult1', 'num_op_var39_ult1', 'imp_var43_emit_ult1', 'saldo_medio_var8_ult1', 'imp_op_var39_comer_ult3', 'ind_var41_0', 'imp_ent_var16_ult1', 'saldo_var37', 'ind_var39_0', 'num_op_var39_hace2', 'num_op_var39_comer_ult1', 'imp_op_var39_comer_ult1', 'ind_var8_0', 'imp_trans_var37_ult1', 'num_var37_med_ult2', 'num_meses_var5_ult3', 'imp_op_var41_efect_ult3', 'num_med_var22_ult3', 'imp_op_var39_efect_ult3', 'imp_op_var41_efect_ult1', 'imp_op_var41_comer_ult1', 'num_var5_0', 'imp_op_var39_ult1', 'num_var35', 'num_op_var41_hace2', 'num_meses_var8_ult3']

## Decision Tree with top 25 Features

In [187]:
dtc25_train = pd.DataFrame()
for i in dtcFeatureImportance25:
  dtc25_train[i] = df_train[i]

In [48]:
DT25_X_train, DT25_X_test, DT25_Y_train, DT25_Y_test = train_test_split(dtc25_train, y_train, test_size=0.33, random_state=42)

In [49]:
evolved_estimator1.fit(DT25_X_train, DT25_Y_train)
print('Best Parameters:',evolved_estimator1.best_params_)

gen	nevals	fitness	fitness_std	fitness_max	fitness_min
0  	15    	nan    	nan        	nan        	nan
1  	30    	nan    	nan        	nan        	nan
2  	30    	nan    	nan        	nan        	nan
Best Parameters: {'criterion': 'gini', 'max_depth': 4, 'min_samples_split': 5, 'min_samples_leaf': 4}

In [50]:
print("Stats achieved in each generation: ", evolved_estimator1.history)
print("Best k solutions: ", evolved_estimator1.hof)

Stats achieved in each generation:  {'gen': [0, 1, 2], 'fitness': [nan, nan, nan], 'fitness_std': [nan, nan, nan], 'fitness_max': [nan, nan, nan], 'fitness_min': [nan, nan, nan]}
Best k solutions:  {0: {'criterion': 'gini', 'max_depth': 4, 'min_samples_split': 5, 'min_samples_leaf': 4}}

In [51]:
dtk25_bestParams = evolved_estimator1.best_params_
dtk25_bestParams

{'criterion': 'gini',
 'max_depth': 4,
 'min_samples_split': 5,
 'min_samples_leaf': 4}

In [52]:
dtc25 = DecisionTreeClassifier(**dtk25_bestParams)

In [53]:
dtc25.fit(DT25_X_train, DT25_Y_train)

DecisionTreeClassifier(max_depth=4, min_samples_leaf=4, min_samples_split=5)

In [54]:
# Train Accuracy

DT25_X_Pred = dtc25.predict(DT25_X_train)
print(accuracy_score(DT25_Y_train, DT25_X_Pred))

0.9604578563995838

In [55]:
# Test Accuracy

DT25_Y_Pred = dtc25.predict(DT25_X_test)
print(accuracy_score(DT25_Y_test, DT25_Y_Pred))

0.9605373300912823

## Decision Tree with top 50 Features

In [188]:
dtc50_train = pd.DataFrame()
for i in dtcFeatureImportance50:
  dtc50_train[i] = df_train[i]

In [57]:
DT50_X_train, DT50_X_test, DT50_Y_train, DT50_Y_test = train_test_split(dtc50_train, y_train, test_size=0.33, random_state=42)

In [58]:
evolved_estimator1.fit(DT50_X_train, DT50_Y_train)
print('Best Parameters:',evolved_estimator1.best_params_)

gen	nevals	fitness	fitness_std	fitness_max	fitness_min
0  	15    	0.95993	0.00109557 	0.960399   	0.95606
1  	30    	0.960399	2.88472e-10	0.960399   	0.960399
2  	30    	0.960399	1.11022e-16	0.960399   	0.960399
Best Parameters: {'criterion': 'entropy', 'max_depth': 5, 'min_samples_split': 7, 'min_samples_leaf': 5}

In [59]:
print("Stats achieved in each generation: ", evolved_estimator1.history)
print("Best k solutions: ", evolved_estimator1.hof)

Stats achieved in each generation:  {'gen': [0, 1, 2], 'fitness': [0.9599303674189875, 0.9603989559225996, 0.9603989558455022], 'fitness_std': [0.0010955686987732711, 2.8847223186370636e-10, 1.1102230246251565e-16], 'fitness_max': [0.960398957001964, 0.960398957001964, 0.9603989558455023], 'fitness_min': [0.9560599299194829, 0.9603989558455023, 0.9603989558455023]}
Best k solutions:  {0: {'criterion': 'entropy', 'max_depth': 5, 'min_samples_split': 7, 'min_samples_leaf': 5}}

In [60]:
dtk50_bestParams = evolved_estimator1.best_params_
dtk50_bestParams

{'criterion': 'entropy',
 'max_depth': 5,
 'min_samples_split': 7,
 'min_samples_leaf': 5}

In [61]:
dtc50 = DecisionTreeClassifier(**dtk50_bestParams)

In [62]:
dtc50.fit(DT50_X_train, DT50_Y_train)

DecisionTreeClassifier(criterion='entropy', max_depth=5, min_samples_leaf=5,
                       min_samples_split=7)

In [63]:
# Train Accuracy

DT50_X_Pred = dtc50.predict(DT50_X_train)
print(accuracy_score(DT50_Y_train, DT50_X_Pred))

0.9604185891268922

In [64]:
# Test Accuracy

DT50_Y_Pred = dtc50.predict(DT50_X_test)
print(accuracy_score(DT50_Y_test, DT50_Y_Pred))

0.9603380236776019

## Select K-Best Feature selection k=25

In [65]:
selector = SelectKBest(score_func=f_classif, k=25)
Selectk25_train = selector.fit_transform(df_train, y_train)

In [66]:
Selectk25_train.shape

(76020, 25)

In [67]:
selected_featuresk25 = list(df_train.columns[(selector.get_support())])
selected_featuresk25

['var15',
 'ind_var5',
 'ind_var8_0',
 'ind_var12_0',
 'ind_var12',
 'ind_var13_0',
 'ind_var13_corto_0',
 'ind_var13_corto',
 'ind_var13',
 'ind_var30',
 'ind_var39_0',
 'num_var4',
 'num_var5',
 'num_var8_0',
 'num_var13_0',
 'num_var13_corto_0',
 'num_var13_corto',
 'num_var13',
 'num_var30',
 'num_var35',
 'num_var42',
 'saldo_var30',
 'var36',
 'num_meses_var5_ult3',
 'num_meses_var13_corto_ult3']

## Select K-Best Feature selection k=50

In [68]:
selector = SelectKBest(score_func=f_classif, k=50)
Selectk50_train = selector.fit_transform(df_train, y_train)

In [69]:
Selectk50_train.shape

(76020, 50)

In [70]:
selected_featuresk50 = list(df_train.columns[(selector.get_support())])
selected_featuresk50

['var15',
 'imp_op_var41_efect_ult1',
 'imp_op_var41_ult1',
 'imp_op_var39_efect_ult1',
 'imp_op_var39_ult1',
 'ind_var5_0',
 'ind_var5',
 'ind_var8_0',
 'ind_var8',
 'ind_var12_0',
 'ind_var12',
 'ind_var13_0',
 'ind_var13_corto_0',
 'ind_var13_corto',
 'ind_var13',
 'ind_var24_0',
 'ind_var24',
 'ind_var30',
 'ind_var39_0',
 'ind_var41_0',
 'num_var4',
 'num_var5_0',
 'num_var5',
 'num_var8_0',
 'num_var8',
 'num_var12_0',
 'num_var12',
 'num_var13_0',
 'num_var13_corto_0',
 'num_var13_corto',
 'num_var13',
 'num_var24_0',
 'num_var24',
 'num_var30_0',
 'num_var30',
 'num_var35',
 'num_var39_0',
 'num_var41_0',
 'num_var42',
 'saldo_var13_corto',
 'saldo_var13',
 'saldo_var30',
 'var36',
 'num_aport_var13_hace3',
 'num_var22_ult1',
 'num_meses_var5_ult3',
 'num_meses_var8_ult3',
 'num_meses_var12_ult3',
 'num_meses_var13_corto_ult3',
 'saldo_medio_var13_corto_ult1']

## Common Features between Random Forest, Decision Tree and Select K-Best where k=25

In [71]:
# rfcFeatureImportance25, dtk25_bestParams, selected_featuresk25
commonFeatures25 = list( set(rfcFeatureImportance25) | set(dtcFeatureImportance25) | set(selected_featuresk25))
print(commonFeatures25)
print(len(commonFeatures25))

['num_var8_0', 'num_var13', 'num_med_var22_ult3', 'imp_op_var39_efect_ult1', 'num_var22_ult3', 'var36', 'num_var22_hace3', 'num_var45_hace2', 'ind_var13', 'num_var13_0', 'num_meses_var39_vig_ult3', 'num_var41_0', 'saldo_medio_var5_hace3', 'ind_var13_corto', 'ind_var13_0', 'num_var22_ult1', 'ind_var39_0', 'num_meses_var13_corto_ult3', 'ind_var12_0', 'saldo_var30', 'saldo_medio_var5_ult1', 'ind_var8_0', 'var3', 'num_var39_0', 'ind_var12', 'saldo_var5', 'num_var45_ult1', 'num_var45_ult3', 'var15', 'ID', 'var38', 'saldo_medio_var5_hace2', 'num_var4', 'ind_var30', 'num_var30', 'ind_var13_corto_0', 'num_var13_corto', 'ind_var5', 'num_var35', 'num_var42', 'num_var22_hace2', 'saldo_var42', 'num_var13_corto_0', 'saldo_medio_var5_ult3', 'num_meses_var5_ult3', 'imp_op_var41_ult1', 'num_var5', 'num_med_var45_ult3', 'num_var45_hace3']
49

In [90]:
commonData25 = pd.DataFrame()
commonTest25 = pd.DataFrame()
for i in commonFeatures25:
  commonData25[i] = df_train[i]
for i in commonFeatures25:
  commonTest25[i] = df_test[i]
commonData25

,num_var8_0,num_var13,num_med_var22_ult3,imp_op_var39_efect_ult1,num_var22_ult3,var36,num_var22_hace3,num_var45_hace2,ind_var13,num_var13_0,...,num_var42,num_var22_hace2,saldo_var42,num_var13_corto_0,saldo_medio_var5_ult3,num_meses_var5_ult3,imp_op_var41_ult1,num_var5,num_med_var45_ult3,num_var45_hace3
0,0,0,0,0.0,0,99,0,0,0,0,...,0,0,0.00,0,0.00,0,0.0,0,0,0
1,0,3,0,0.0,0,3,0,0,1,3,...,0,0,0.00,3,0.00,1,0.0,0,0,0
2,0,0,0,0.0,0,99,0,0,0,0,...,3,0,3.00,0,2.07,3,0.0,3,0,0
3,0,0,0,0.0,3,2,0,27,0,0,...,3,3,70.62,0,138.84,2,195.0,3,15,3
4,0,0,3,0.0,9,1,0,0,0,0,...,3,3,135003.00,0,13501.47,3,0.0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
76015,0,0,0,0.0,0,99,0,0,0,0,...,0,0,0.00,0,0.00,0,0.0,0,0,0
76016,0,0,6,0.0,24,2,0,36,0,0,...,3,24,48191.22,0,0.00,1,0.0,0,15,3
76017,0,0,0,0.0,0,99,0,0,0,0,...,3,0,3.00,0,3.00,2,0.0,3,0,0
76018,0,0,0,0.0,0,99,0,0,0,0,...,3,0,3.00,0,2.58,3,0.0,3,0,0
76019,0,0,0,0.0,0,99,0,0,0,0,...,0,0,0.00,0,0.00,0,0.0,0,0,0

In [91]:
commonTest25

,num_var8_0,num_var13,num_med_var22_ult3,imp_op_var39_efect_ult1,num_var22_ult3,var36,num_var22_hace3,num_var45_hace2,ind_var13,num_var13_0,...,num_var42,num_var22_hace2,saldo_var42,num_var13_corto_0,saldo_medio_var5_ult3,num_meses_var5_ult3,imp_op_var41_ult1,num_var5,num_med_var45_ult3,num_var45_hace3
0,0,0,0,0.0,3,3,3,0,0,0,...,3,0,6.0,0,4.80,3,0.0,3,0,0
1,0,0,0,0.0,3,3,3,0,0,0,...,3,0,3.0,0,2.85,3,0.0,3,0,6
2,0,0,0,60.0,0,3,0,3,0,0,...,3,0,30.0,0,66.15,3,60.0,3,3,6
3,0,0,0,0.0,0,99,0,0,0,0,...,0,0,0.0,0,0.00,0,0.0,0,0,0
4,0,0,0,0.0,0,3,0,0,0,0,...,3,0,30.0,0,21.30,3,0.0,3,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
75813,0,0,0,0.0,0,99,0,0,0,0,...,0,0,0.0,0,0.00,0,0.0,0,0,6
75814,0,0,0,0.0,0,3,0,0,0,0,...,3,0,3.0,0,2.40,3,0.0,3,0,0
75815,0,0,0,0.0,0,99,0,0,0,0,...,3,0,90.0,0,69.69,3,0.0,3,0,0
75816,0,0,0,0.0,0,3,0,0,0,0,...,3,0,3.0,0,2.64,3,0.0,3,0,0
75817,0,0,0,0.0,0,3,0,0,0,0,...,3,0,90.0,0,85.14,3,0.0,3,0,0

In [76]:
Common25_X_train, Common25_X_test, Common25_Y_train, Common25_Y_test = train_test_split(commonData25, y_train, test_size=0.33, random_state=42)

## Random Forest on common features where k=25

In [77]:
evolved_estimator.fit(Common25_X_train, Common25_Y_train)
print('Best Parameters:',evolved_estimator.best_params_)

gen	nevals	fitness 	fitness_std	fitness_max	fitness_min
0  	20    	0.960399	0          	0.960399   	0.960399
1  	40    	0.960399	0          	0.960399   	0.960399
2  	40    	0.960399	0          	0.960399   	0.960399
Best Parameters: {'min_weight_fraction_leaf': 0.04191075201124449, 'bootstrap': False, 'max_depth': 11, 'max_leaf_nodes': 3, 'n_estimators': 152}

In [78]:
RFcommonk25_bestParams = evolved_estimator.best_params_
RFcommonk25_bestParams

{'min_weight_fraction_leaf': 0.04191075201124449,
 'bootstrap': False,
 'max_depth': 11,
 'max_leaf_nodes': 3,
 'n_estimators': 152}

In [79]:
RFcommonk25 = RandomForestClassifier(**RFcommonk25_bestParams)

In [80]:
RFcommonk25.fit(Common25_X_train, Common25_Y_train)

RandomForestClassifier(bootstrap=False, max_depth=11, max_leaf_nodes=3,
                       min_weight_fraction_leaf=0.04191075201124449,
                       n_estimators=152)

In [81]:
# Train Accuracy

RFCommon25_X_Pred = RFcommonk25.predict(Common25_X_train)
print(accuracy_score(Common25_Y_train, RFCommon25_X_Pred))

0.9603989554905464

In [82]:
# Test Accuracy

RFCommon25_Y_Pred = RFcommonk25.predict(Common25_X_test)
print(accuracy_score(Common25_Y_test, RFCommon25_Y_Pred))

0.9604974688085463

In [103]:
RF25Preds = RFcommonk25.predict(commonTest25)
Pred_clf = []

for vals in RF25Preds:
    Pred_clf.append(vals)

    
Pred_clf = pd.DataFrame(Pred_clf,columns=['TARGET'])
Pred_clf['ID'] = df_test['ID']
Pred_clf = Pred_clf[['ID', 'TARGET']]
Pred_clf.to_csv("/content/drive/MyDrive/A4-2/RFCommon25_Y_Pred.csv", index=False)

## Decision Tree on common features where k=25

In [104]:
evolved_estimator.fit(Common25_X_train, Common25_Y_train)
print('Best Parameters:',evolved_estimator.best_params_)

gen	nevals	fitness 	fitness_std	fitness_max	fitness_min
0  	20    	0.960399	0          	0.960399   	0.960399
1  	40    	0.960399	0          	0.960399   	0.960399
2  	40    	0.960399	0          	0.960399   	0.960399
Best Parameters: {'min_weight_fraction_leaf': 0.02610968807109814, 'bootstrap': True, 'max_depth': 5, 'max_leaf_nodes': 9, 'n_estimators': 129}

In [105]:
DTcommonk25_bestParams = evolved_estimator.best_params_
DTcommonk25_bestParams.pop('bootstrap')
DTcommonk25_bestParams

{'min_weight_fraction_leaf': 0.02610968807109814,
 'max_depth': 5,
 'max_leaf_nodes': 9,
 'n_estimators': 129}

In [107]:
DTcommonk25_bestParams.pop('n_estimators')
DTcommonk25 = DecisionTreeClassifier(**DTcommonk25_bestParams)

In [108]:
DTcommonk25.fit(Common25_X_train, Common25_Y_train)

DecisionTreeClassifier(max_depth=5, max_leaf_nodes=9,
                       min_weight_fraction_leaf=0.02610968807109814)

In [109]:
# Train Accuracy

DTCommon25_X_Pred = DTcommonk25.predict(Common25_X_train)
print(accuracy_score(Common25_Y_train, DTCommon25_X_Pred))

0.9603989554905464

In [110]:
# Test Accuracy

DTCommon25_Y_Pred = DTcommonk25.predict(Common25_X_test)
print(accuracy_score(Common25_Y_test, DTCommon25_Y_Pred))

0.9604974688085463

In [112]:
DT25Preds = DTcommonk25.predict(commonTest25)
Pred_clf = []

for vals in DT25Preds:
    Pred_clf.append(vals)

    
Pred_clf = pd.DataFrame(Pred_clf,columns=['TARGET'])
Pred_clf['ID'] = df_test['ID']
Pred_clf = Pred_clf[['ID', 'TARGET']]

Pred_clf.to_csv("/content/drive/MyDrive/A4-2/DTCommon25_Y_Pred.csv", index=False)

## Common Features between Random Forest, Decision Tree and Select K-Best where k=50

In [113]:
# rfcFeatureImportance50, dtcFeatureImportance50, selected_featuresk50
commonFeatures50 = list( set(rfcFeatureImportance50) | set(dtcFeatureImportance50) | set(selected_featuresk50))
print(commonFeatures50)
print(len(commonFeatures50))

['num_var8_0', 'num_var5_0', 'num_var22_ult3', 'var36', 'num_var45_hace2', 'ind_var13', 'num_op_var41_ult1', 'num_meses_var39_vig_ult3', 'num_var12', 'num_op_var39_ult1', 'num_op_var39_hace2', 'saldo_medio_var5_hace3', 'ind_var13_corto', 'ind_var13_0', 'num_var22_ult1', 'ind_var39_0', 'saldo_var13_corto', 'saldo_var30', 'imp_op_var41_efect_ult1', 'num_var39_0', 'num_var45_ult1', 'num_op_var41_efect_ult3', 'var38', 'saldo_medio_var5_hace2', 'ind_var30', 'num_var30', 'ind_var13_corto_0', 'num_var13_corto', 'ind_var5', 'ind_var5_0', 'imp_var43_emit_ult1', 'num_var42', 'num_var22_hace2', 'saldo_var42', 'num_var13_corto_0', 'saldo_medio_var5_ult3', 'ind_var41_0', 'num_meses_var5_ult3', 'num_op_var41_comer_ult3', 'num_var13', 'num_var12_0', 'num_var5', 'num_med_var45_ult3', 'num_var24', 'imp_op_var41_comer_ult3', 'num_med_var22_ult3', 'saldo_var37', 'imp_op_var39_efect_ult1', 'saldo_medio_var13_corto_ult1', 'imp_op_var39_ult1', 'num_var22_hace3', 'saldo_var13', 'num_var13_0', 'num_var41_0', 'ind_var24', 'num_meses_var8_ult3', 'num_op_var39_ult3', 'ind_var24_0', 'num_var30_0', 'imp_op_var41_efect_ult3', 'num_op_var41_hace2', 'imp_ent_var16_ult1', 'num_meses_var13_corto_ult3', 'ind_var12_0', 'imp_op_var39_comer_ult1', 'ind_var8_0', 'saldo_medio_var5_ult1', 'var3', 'imp_op_var39_comer_ult3', 'ind_var12', 'saldo_var5', 'num_meses_var12_ult3', 'num_var45_ult3', 'var15', 'imp_op_var39_efect_ult3', 'num_op_var39_comer_ult3', 'num_var8', 'num_var24_0', 'ID', 'num_var4', 'ind_var8', 'num_aport_var13_hace3', 'num_var35', 'imp_op_var41_comer_ult1', 'saldo_medio_var8_ult1', 'num_op_var41_ult3', 'imp_op_var41_ult1', 'imp_trans_var37_ult1', 'num_var37_med_ult2', 'num_op_var39_comer_ult1', 'num_var45_hace3']
91

In [123]:
commonData50 = pd.DataFrame()
commonTest50 = pd.DataFrame()
for i in commonFeatures50:
  commonData50[i] = df_train[i]
for i in commonFeatures50:
  commonTest50[i] = df_test[i]
commonData50

,num_var8_0,num_var5_0,num_var22_ult3,var36,num_var45_hace2,ind_var13,num_op_var41_ult1,num_meses_var39_vig_ult3,num_var12,num_op_var39_ult1,...,num_aport_var13_hace3,num_var35,imp_op_var41_comer_ult1,saldo_medio_var8_ult1,num_op_var41_ult3,imp_op_var41_ult1,imp_trans_var37_ult1,num_var37_med_ult2,num_op_var39_comer_ult1,num_var45_hace3
0,0,3,0,99,0,0,0,2,0,0,...,0,0,0.0,0.0,0,0.0,0.0,0,0,0
1,0,3,0,3,0,1,0,2,0,0,...,3,3,0.0,0.0,0,0.0,0.0,0,0,0
2,0,3,0,99,0,0,0,1,0,0,...,0,3,0.0,0.0,0,0.0,0.0,0,0,0
3,0,3,3,2,27,0,9,1,0,9,...,0,9,195.0,0.0,9,195.0,0.0,6,9,3
4,0,3,9,1,0,0,0,2,3,0,...,0,3,0.0,0.0,0,0.0,270003.0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
76015,0,3,0,99,0,0,0,2,0,0,...,0,0,0.0,0.0,0,0.0,0.0,0,0,0
76016,0,3,24,2,36,0,0,2,3,0,...,0,3,0.0,0.0,0,0.0,0.0,0,0,3
76017,0,3,0,99,0,0,0,1,0,0,...,0,3,0.0,0.0,0,0.0,0.0,0,0,0
76018,0,3,0,99,0,0,0,2,0,0,...,0,3,0.0,0.0,0,0.0,0.0,0,0,0
76019,0,3,0,99,0,0,0,2,0,0,...,0,0,0.0,0.0,0,0.0,0.0,0,0,0

In [124]:
Common50_X_train, Common50_X_test, Common50_Y_train, Common50_Y_test = train_test_split(commonData50, y_train, test_size=0.33, random_state=42)

## Random Forest on common features where k=50

In [116]:
evolved_estimator.fit(Common50_X_train, Common50_Y_train)
print('Best Parameters:',evolved_estimator.best_params_)

gen	nevals	fitness 	fitness_std	fitness_max	fitness_min
0  	20    	0.960399	0          	0.960399   	0.960399
1  	40    	0.960399	0          	0.960399   	0.960399
2  	40    	0.960399	0          	0.960399   	0.960399
Best Parameters: {'min_weight_fraction_leaf': 0.02119155124615207, 'bootstrap': True, 'max_depth': 13, 'max_leaf_nodes': 12, 'n_estimators': 232}

In [117]:
RFcommonk50_bestParams = evolved_estimator.best_params_
RFcommonk50_bestParams

{'min_weight_fraction_leaf': 0.02119155124615207,
 'bootstrap': True,
 'max_depth': 13,
 'max_leaf_nodes': 12,
 'n_estimators': 232}

In [118]:
RFcommonk50 = RandomForestClassifier(**RFcommonk50_bestParams)

In [119]:
RFcommonk50.fit(Common50_X_train, Common50_Y_train)

RandomForestClassifier(max_depth=13, max_leaf_nodes=12,
                       min_weight_fraction_leaf=0.02119155124615207,
                       n_estimators=232)

In [120]:
# Train Accuracy

RFCommon50_X_Pred = RFcommonk50.predict(Common50_X_train)
print(accuracy_score(Common50_Y_train, RFCommon50_X_Pred))

0.9603989554905464

In [121]:
# Test Accuracy

RFCommon50_Y_Pred = RFcommonk50.predict(Common50_X_test)
print(accuracy_score(Common50_Y_test, RFCommon50_Y_Pred))

0.9604974688085463

In [126]:
RF50Preds = RFcommonk50.predict(commonTest50)
Pred_clf = []

for vals in RF50Preds:
    Pred_clf.append(vals)

    
Pred_clf = pd.DataFrame(Pred_clf,columns=['TARGET'])
Pred_clf['ID'] = df_test['ID']
Pred_clf = Pred_clf[['ID', 'TARGET']]

Pred_clf.to_csv("/content/drive/MyDrive/A4-2/RFCommon50_Y_Pred.csv", index=False)

## Decision Tree on common features where k=50

In [ ]:
evolved_estimator1.fit(Common50_X_train, Common50_Y_train)
print('Best Parameters:',evolved_estimator1.best_params_)

In [129]:
DTcommonk50_bestParams = evolved_estimator1.best_params_
DTcommonk50_bestParams

{'criterion': 'entropy',
 'max_depth': 5,
 'min_samples_split': 7,
 'min_samples_leaf': 5}

In [130]:
DTcommonk50 = DecisionTreeClassifier(**DTcommonk50_bestParams)

In [131]:
DTcommonk50.fit(Common50_X_train, Common50_Y_train)

DecisionTreeClassifier(criterion='entropy', max_depth=5, min_samples_leaf=5,
                       min_samples_split=7)

In [132]:
# Train Accuracy

DTCommon50_X_Pred = DTcommonk50.predict(Common50_X_train)
print(accuracy_score(Common50_Y_train, DTCommon50_X_Pred))

0.9604185891268922

In [133]:
# Test Accuracy

DTCommon50_Y_Pred = DTcommonk50.predict(Common50_X_test)
print(accuracy_score(Common50_Y_test, DTCommon50_Y_Pred))

0.9603380236776019

In [134]:
DT50Preds = DTcommonk50.predict(commonTest50)
Pred_clf = []

for vals in DT50Preds:
    Pred_clf.append(vals)
   
Pred_clf = pd.DataFrame(Pred_clf,columns=['TARGET'])
Pred_clf['ID'] = df_test['ID']
Pred_clf = Pred_clf[['ID', 'TARGET']]

Pred_clf.to_csv("/content/drive/MyDrive/A4-2/DTCommon50_Y_Pred.csv", index=False)